<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\TwoFactorAuth\Api\TfaSessionInterface">
        <plugin name="forceGrantAccessByConfig" type="Magenius\TwoFaSwitch\Plugin\TwoFactorAuth\Model\ForceGrantAccessByConfig" sortOrder="10"/>
    </type>
    <type name="Magento\Backend\Block\System\Account\Edit\Form">
        <plugin name="addTwoFactorStatusField" type="Magenius\TwoFaSwitch\Plugin\Backend\Block\SystemAccountEditForm\AddTwoFactorStatusField" sortOrder="10"/>
    </type>
    <type name="Magento\Backend\Controller\Adminhtml\System\Account\Save">
        <plugin name="changeTwoFactorStatusFlag" type="Magenius\TwoFaSwitch\Plugin\User\Controller\AdminhtmlSystemAccountSaveAfter" sortOrder="10"/>
    </type>
</config>
